.login-header {
    background: rgb(245, 189, 69); 
 }
 .login-header {
     position: relative;
     background: rgb(245, 189, 69);
     border-radius: 0cm;
 }
 
 .login-header::after {
     content: '';
     position: absolute;
     bottom: 0;
     left: 15%;
     width: 0;
     height: 0;
     border: 30px solid transparent;
     border-top-color: rgb(245, 189, 69);
     border-bottom: 0;
     margin-left: -15px;
     margin-bottom: -15px;
 }
 .logo-img{
     display: block;
     width: 210px;
     margin: 0 auto;
     text-align: center;
 }
 
 [heading-column-lr] {
     display: flex;
     -ms-flex-align: center;
     align-items: center;
 }
 
 [big-heading] {
     font-family: 'Jost', sans-serif;
     font-size: 30px !important;
     color: black;
 }
 [small-heading] {
     font-family: 'Jost', sans-serif;
     margin-left: auto;
     padding-right: 40px;
     font-size: 15px;
 }
 
 ion-label {
     color: #000;
     opacity: .8;
     font-size: 13px;
     display: block;
 }
 
 ion-content {
     --background: #fafafa;
 }
     
 [transparent] {
     --background: transparent;
 }
 
 ion-input {
     --color: black
     --padding-bottom: 15px;
    --padding-top: 15px;
     --padding-start: 5px;
     font-size: 15px;
     text-indent: 1px;
     padding-left: 10px !important;
 
 }
 [icon-small] {
     width: 30;
 } 
 
 ion-item {
     --highlight-color-focused:transparent;
     --highlight-height: 0;
     --highlight-color-invalid: black;
     --highlight-color-valid: white;
     --min-height: 65px;
     --padding-start:0px;
 
 }
 [linespace] {
     height: 30px;
 }
 .forget-password {
     color: #000;
     font-size: 13px;
     display: block;
     text-align: right;
     padding: 10px;
 }